*{
    margin: 0;
    padding: 0;
    font-family: 'franklin gothic medium', 'arial narrow', Arial, sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    background-image:url(image/background.jpg);
    background-size: 100vw 100vh;
}
.container{
    display:flex;
    justify-content:center;
    align-items: center;
     background-color:rgba(255, 255, 255, 0.195);
    width: 30vw;
    height: 55vh;
    margin-top: 27vh;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
}
.clock1{
    height: 100%;
    width: 55%;
    color: rgba(98, 8, 29, 0.427);
    -webkit-text-stroke: 2px rgba(9, 5, 1, 0.97);
     text-shadow: 1px 1px 30px rgb(8, 5, 5),3px 3px 30px rgb(8, 5, 5);
}
.clock2{
    height: 100%;
    width: 45%;
    box-sizing: border-box;
    padding-top: 15px;
    color: rgba(98, 8, 29, 0.442);
    -webkit-text-stroke: 2px rgba(9, 5, 1, 0.97);
    text-shadow: 1px 1px 30px rgb(8, 5, 5),3px 3px 30px rgb(8, 5, 5);
}
#hrs{
    height: 40%;
    text-align: center;
    font-size:130px;
}
#colon{
    height: 40%;
    text-align: center;
    font-size:85px;
}
#min{
    height: 40%;
    text-align: center;
    font-size:130px;
    margin-top: -60px;
    color: rgba(139, 0, 139, 0.429);
    
}
.date{
    height: 20%;
    font-size: 35px;
    color: rgba(10, 78, 95, 0.366);
}
#mon{
    margin-left: 7px;
}
#dat{
    margin-left: 5px;
}
#year{
    height: 20%;
    font-size: 50px;
    margin-top: -25px;
    color: rgba(63, 9, 70, 0.342);
}
#day{
    height: 20%;
    font-size:40px;
    margin-top:-10px;
    color: rgba(21, 81, 6, 0.344);
}
#am-pm{
    height: 20%;
    font-size:55px;
    margin-top:20px;
    color: rgba(71, 7, 29, 0.341);
}
#sec{
    
    font-size:70px;
    height: 30%;
    color: rgba(160, 81, 45, 0.312);
}   